.App h1 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 20px auto;
  height: 100%;
  text-align: center;
  font-style: oblique;
}

Form {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 20px auto;
  height: 100%;
}

.name {
  display: flex;
  justify-content: space-between;
}
